.navbar{
	width: 100%;
}

.navbar-brand{
	padding-left: 10px;
	font-size: 2.5rem;
	font-weight: 500;
}

.options{
	margin-bottom: 5px;
	font-size: 1.15rem;
	color: white;
}

div.container{
	color: blue;
	padding-left: 0;
	padding-right: 0;
	max-width: 95%; 
}

div.container-fluid{
	font-size: 250%;
	font-weight: 500;
	margin-bottom: 20px;
}


h2{
	color: black;
	padding-top: 10px;
	margin-bottom: 10px;
}

.container div{
	margin-bottom: 20px;
}

.chicken{
	background-color: yellow;
	color: purple;
	padding-bottom: 5px;
}

.beef{
	background-color: pink;
	color: purple;
	padding-bottom: 5px;
}

.sushi{
	background-color: cyan;
	color: purple;
	padding-bottom: 5px;
}
